@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}


:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-light-gray: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --special-yellow-light: #ffe17f;
  --special-yellow-dark: #ffc700;
  --special-purpe: #af4fff;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --status-success: #08af00;
}

@keyframes scaleY-easeInOutBounce {
  0% {
    transform: scaleY(1);
  }

  2% {
    transform: scaleY(0.99);
  }

  4% {
    transform: scaleY(1);
  }

  10% {
    transform: scaleY(0.97);
  }

  14% {
    transform: scaleY(0.99);
  }

  22% {
    transform: scaleY(0.88);
  }

  32% {
    transform: scaleY(0.99);
  }

  42% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.5);
  }

  58% {
    transform: scaleY(0.4);
  }

  68% {
    transform: scaleY(0.01);
  }

  78% {
    transform: scaleY(0.12);
  }

  86% {
    transform: scaleY(0.01);
  }

  90% {
    transform: scaleY(0.03);
  }

  96% {
    transform: scaleY(0);
  }

  98% {
    transform: scaleY(0.01);
  }

  100% {
    transform: scaleY(0);
  }
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-dark);
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout-center {
  width: 1160px;
  margin: 0 auto;
}

.layout-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 9.5px 10px;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  transition: color 0.3s;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: calc(50% - 4px);
  bottom: calc(50% - 4px);
  background-color: var(--special-yellow-dark);
  transition: top 0.3s, bottom 0.3s;
}

.button:hover::before {
  top: 0;
  bottom: 0;
}

.button:focus::before {
  background-color: var(--special-purpe);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
}

.button:active::before {
  background-color: var(--special-yellow-dark);
}

.button--light::before {
  background-color: var(--special-yellow-light);
}

.button--light:active::before {
  background-color: var(--special-yellow-light);
}


/* Header */

.header {
  margin-top: 40px;
  padding-top: 39px;
  padding-bottom: 38px;
  position: relative;
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
  row-gap: 19px;
  background-color: var(--special-yellow-light);
}

.header--index {
  padding-bottom: 2px;
}

.header__logo-link {
  position: absolute;
  z-index: 1;
  left: 61px;
  top: -23px;
}

.header__logo-img {
  width: 145px;
  height: 36px;
  display: block;
}

/* Header search */
.header__search-form {
  padding-left: 44px;
}

.header__search-group {
  position: relative;
}

.header__search-group::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 12px;
  background-image: url("../img/icons/icon-search.svg");
  background-repeat: no-repeat;
}

.header__search-input {
  display: block;
  width: 100%;
  border: 2px solid transparent;
  padding: 8.5px 0;
  padding-left: 50px;
  padding-right: 160px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
  color: var(--basic-black);
  background-color: transparent;
  outline: none;
}

.header__search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
  transition: opacity 0.3s;
}

.header__search-input:hover::placeholder {
  opacity: 0.6;
}

.header__search-input:focus {
  border-color: var(--special-purpe);
  transition: border-color 0.3s;
}

.header__search-input:focus::placeholder {
  opacity: 0.3;
}

.header__search-submit {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8.5px;
  width: 160px;
  border: 2px solid var(--basic-black);
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--basic-black);
  background-color: transparent;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  transform: scale(0);
  transform-origin: 50% 0;
  transition: all 0.3s;
}

.header__search-submit:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.header__search-submit:focus {
  color: var(--basic-black);
  background-color: transparent;
  border-color: var(--special-purpe);
}

/* With no SCSS rgba(var(--basic-white), 0.3) doesn't work */
.header__search-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-black);
  border-color: transparent;
}


.header__search-input:not(:placeholder-shown) {
  border-color: var(--basic-black);
}

.header__search-input:not(:placeholder-shown) + .header__search-submit {
  transform: scale(1);
  visibility: visible;
}


/* Header nav */
.header__column {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: -10px;
}

.header__nav-list:nth-child(2) {
  justify-content: space-between;
}

.header__nav-item {
  margin-bottom: 10px;
}

.header__nav-item:not(:last-child) {
  margin-right: 10px;
}

.header__nav-link {
  display: block;
  padding: 10px;
  border: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
  background-repeat: no-repeat;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s;
}

.header__nav-link--alpha {
  opacity: 0.3;
}

.header__nav-link--user {
  padding-left: 25px;
  background-image: url("../img/icons/icon-user.svg");
  background-position: 0 13px;
}

.header__nav-link--compare {
  padding-left: 20px;
  background-image: url("../img/icons/icon-compare.svg");
  background-position: 0 13px;
}

.header__nav-link--cart {
  position: relative;
  padding-left: 44px;
  background-image: url("../img/icons/icon-cart.svg");
  background-position: 18px 11px;
}

.header__nav-link:hover {
  opacity: 0.6;
}

.header__nav-link:focus {
  opacity: 1;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  border: 2px solid transparent;
  top: 0;
  bottom: 0;
  left: -21px;
  right: -11px;
}

.header__nav-link:focus::before {
  border: 2px solid var(--special-purpe);
  transition: border-color 0.3s;
}

.header__nav-link:active {
  opacity: 0.3;
  outline: none;
}

.header__nav-link:active::before {
  content: none;
}

.header__count {
  position: absolute;
  top: 9px;
  left: 3px;
  width: 21px;
  height: 21px;
  padding-top: 2px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 17px;
}

/* Main nav */

.main-nav {
  grid-column: 1 /-1;
  padding-left: 60px;
  padding-right: 55px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin-right: 30px;
  position: relative;
}

.main-nav__item--margin-right {
  margin-right: 91px;
}

.main-nav__item--expanded {
  margin-right: auto;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 0 14px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  outline: none;
  transition: opacity 0.3s;
}

.main-nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  height: 2px;
  width: 0%;
  background-color: var(--basic-black);
  border-color: transparent;
  border-radius: 25px;
  transition: width 0.3s, border-color 0.3s;
}

.main-nav__link:hover::before {
  width: 98%;
}

.main-nav__link:focus::before {
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  width: auto;
  height: auto;
  border: 2px solid var(--special-purpe);
  background-color: transparent;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link:active::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 8px;
  left: 0;
  right: auto;
  width: 98%;
  height: 2px;
  background-color: var(--basic-black);
  border: 0;
}

.main-nav__link--icon {
  padding-right: 67px;
}

.main-nav__link--icon::before {
  transition: border-color 0.3s;
}

.main-nav__link--icon::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  background-image: url("../img/icons/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.main-nav__link--icon:hover::before {
  background-color: transparent;
}

.main-nav__link--icon:hover::after {
  background-image: url("../img/icons/icon-minus.svg");
  opacity: 1;
}

.main-nav__link--icon:focus::after {
  background-image: url("../img/icons/icon-minus.svg");
  opacity: 1;
}

.main-nav__link--icon:focus::before {
  right: 51px;
}

.main-nav__link--icon:active {
  opacity: 0.3;
}

.main-nav__item:hover > .main-nav__sub-list,
.main-nav__item:focus-within > .main-nav__sub-list {
  transform: scaleY(1);
}

.main-nav__sub-list {
  z-index: 1;
  margin: 0;
  padding: 35px 60px;
  list-style: none;
  position: absolute;
  display: grid;
  gap: 18px 46px;
  grid-template-columns: repeat(auto-fit, minmax(155px, max-content));
  width: 1160px;
  left: -60px;
  background-color: var(--special-yellow-light);

  transform-origin: 0 0;
  transform: scaleY(0);
  transition: transform 0.4s;
}

/* Чисто чтобы было по макету */
.main-nav__sub-item:nth-child(2) {
  grid-row: 2/3;
}

.main-nav__sub-item:nth-child(3) {
  grid-row: 3/ 4;
}

.main-nav__sub-item:nth-child(5) {
  grid-row: 2/ 3;
}

.main-nav__sub-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  outline: none;
  transition: opacity 0.3s;
}

.main-nav__sub-link:hover {
  opacity: 0.6;
}

.main-nav__sub-link:focus {
  opacity: 1;
}

.main-nav__sub-link::before {
  content: "";
  position: absolute;
  border-color: transparent;
  transition: border-color 0.3s;
}

.main-nav__sub-link:focus::before {
  top: -4.5px;
  bottom: -4.5px;
  left: -15px;
  right: -15px;
  border: 2px solid var(--special-purpe);
  border-radius: 25px;
}

.main-nav__sub-link:active {
  opacity: 0.3;
}

.main-nav__sub-link:active::before {
  content: none;
}

/* Slider */

.slider {
  background-image: linear-gradient(180deg, var(--special-yellow-light) 150px, transparent 150px);
  counter-reset: pagination-num;
  margin-bottom: 70px;
}

.slider__slide {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
}

.slider__box {
  position: relative;
}

.slider__img {
  display: block;
  width: 560px;
  height: 560px;
}

.slider__description {
  padding-top: 122px;
  position: relative;
}

.slider__description::before {
  position: absolute;
  content: counter(pagination-num, decimal-leading-zero);
  counter-increment: pagination-num;
  top: 7px;
  right: 49px;
  z-index: -1;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: var(--basic-white);
}

.slider__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.slider__text {
  margin: 0;
  margin-bottom: 36px;
}

.slider__group {
  display: flex;
  justify-content: space-between;
}

.slider__button {
  min-width: 220px;
  max-width: 400px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  margin-bottom: 51px;
}

.slider__stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.slider__stats-item {
  margin-right: 21px;
}

.slider__stats-text {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.slider__stats-title {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}


.slider__pagination {
  position: absolute;
  top: 365px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12px);
  justify-content: start;
  gap: 22px;
  width: 140px;
  z-index: 1;
}

.slider__pagination-button {
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid var(--basic-black);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider__pagination-button:hover {
  opacity: 0.6;
}

.slider__pagination-button:focus-visible {
  opacity: 1;
  border-color: var(--special-purpe);
}

.slider__pagination-button:active {
  opacity: 0.3;
  border-color: var(--basic-black);
}

.slider__pagination-button.is-active:not(:focus-visible) {
  background-color: var(--basic-black);
}

.splide__arrows {
  position: absolute;
  top: 250px;
  width: 560px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.splide__arrow {
  position: absolute;
  padding: 0;
  border: 0;
  width: 20px;
  height: 60px;
  background-image: url("../img/icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s;
}

.splide__arrow--prev {
  transform: rotate(180deg);
  left: 19px;
}

.splide__arrow--next {
  right: 19px;
}

.splide__arrow:hover {
  opacity: 0.6;
}

.splide__arrow::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.splide__arrow:focus::before {
  content: "";
  border: 2px solid var(--special-purpe);
}

.splide__arrow:active {
  opacity: 0.3;
}

.splide__arrow:active::before {
  content: none;
}

.splide__arrow:disabled {
  opacity: 0;
}

/* Categories */

.categories {
  margin-bottom: 80px;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.categories__link {
  display: block;
  text-decoration: none;
  outline: none;
}

.categories__link:hover .categories__box {
  background-color: var(--special-yellow-dark);
}

.categories__link:focus .categories__box {
  background-color: var(--special-yellow-light);
  outline: 5px solid var(--special-purpe);
}

.categories__link:focus .categories__title {
  color: var(--special-purpe);
}

.categories__link:active .categories__box {
  outline-color: transparent;
  background-color: var(--special-yellow-dark);
}

.categories__link:active .categories__title {
  color: var(--basic-black);
  opacity: 0.3;
}

.categories__link:active .categories__img {
  opacity: 0.3;
}


.categories__box {
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: var(--special-yellow-light);
  outline-color: transparent;
  transition: outline-color 0.3s, background-color 0.3s;
}

.categories__img {
  margin: auto;
  max-width: 100%;
  object-fit: contain;
  transition: all 0.3s;
}

.categories__img--monopad {
  margin-bottom: 0;
}

.categories__title {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--basic-black);
  transition: color 0.3s, opacity 1s;
}

/* Services */

.tab {
  background-image: linear-gradient(180deg, transparent 101px, var(--basic-light) 101px);
  padding-top: 62px;
  padding-bottom: 79px;
  margin-bottom: 90px;
}

.tab__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.tab__container::before {
  content: "";
  position: absolute;
  left: 277px;
  top: -61px;
  bottom: -10px;
  width: 7px;
  background-color: var(--basic-black);
}

.tab__buttons {
  margin: 0;
  margin-top: 19px;
  padding: 0;
  list-style: none;
  width: 277px;
}

.tab__buttons-item:not(:last-child) {
  margin-bottom: 25px;
}

.tab__button {
  z-index: 0;
  min-width: 160px;
}

.tab__button--active {
  width: 100%;
  padding: 9.5px 18px;
  text-align: left;
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
}

.tab__button--active::before {
  content: none;
}

.tab__button--active:focus {
  outline: 3px solid var(--special-purpe);
  outline-offset: -3px;
}

.tab__overflow {
  overflow: hidden;
  width: 760px;
  height: 248px;
  transition: height 0.5s;
}

.tab__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  transition: margin-top 0.5s;
}

.tab__item {
  padding-top: 10px;
  padding-right: 260px;
  min-height: 248px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-delivery.svg");
  background-position: top 24px right 66px;
}


.tab__item--warranty {
  background-image: url("../img/icons/icon-warranty.svg");
  background-position: top 1px right 46px;
}

.tab__item--credit {
  background-image: url("../img/icons/icon-credit.svg");
  background-position: top 1px right 70px;
}

.tab__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.tab__text {
  margin: 0;
}


.shipping {
  margin-bottom: 97px;
}

.shipping__button {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  padding: 38px 125px 39px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--basic-light);
  color: var(--basic-black);
  cursor: pointer;
  outline: 5px solid transparent;
  transition: background-color 0.3s, outline-color 0.3s;
}

.shipping__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: var(--special-yellow-light);
  background-image: url("../img/icons/icon-delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}

.shipping__button::after {
  content: "";
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--basic-gray);
  background-image: url("../img/icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  transition: all 0.3s;
}

.shipping__button:hover {
  background-color: var(--basic-light-gray);
}

.shipping__button:hover::before {
  background-color: var(--special-yellow-dark);
  opacity: 1;
}

.shipping__button:hover::after {
  opacity: 1;
}

.shipping__button:focus {
  outline-color: var(--special-purpe);
}

.shipping__button:active {
  background-color: var(--basic-light-gray);
  opacity: 0.3;
}

.shipping__button:active::before {
  background-color: var(--special-yellow-dark);
}

/* Information */

.information {
  position: relative;
  padding-top: 50px;
  padding-bottom: 76px;
  min-height: 649px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.information::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.information__header {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.information__text {
  margin: 0;
  margin-bottom: 30px;
}

.information__list {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  list-style: none;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
}


.information__item {
  position: relative;
  padding-left: 35px;
}

.information__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 1px;
  width: 8px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  border-radius: 50%;
}

.information__item:not(:last-child) {
  margin-bottom: 20px;
}


.information__button {
  min-width: 260px;
}

.information__button:last-child {
  margin-top: auto;
}

.information__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.information__address {
  font-style: normal;
  word-spacing: 1px;
  margin-bottom: 30px;
}

.information__address-text {
  margin: 0;
}

.information__address-link {
  display: inline-block;
  color: inherit;
  transform: scale(1);
  transition: all 0.3s;
  transform-origin: 0 50%;
  outline: none;
}

.information__address-link:hover {
  color: var(--special-yellow-dark);
}

.information__address-link:focus {
  color: var(--special-purpe);
  transform: scale(1.1);
}

.information__address-link:active {
  opacity: 0.5;
}
