@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}


:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-light-gray: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --special-yellow-light: #ffe17f;
  --special-yellow-dark: #ffc700;
  --special-purpe: #af4fff;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --status-success: #08af00;
}

@keyframes scaleY-easeInOutBounce {
  0% {
    transform: scaleY(1);
  }

  2% {
    transform: scaleY(0.99);
  }

  4% {
    transform: scaleY(1);
  }

  10% {
    transform: scaleY(0.97);
  }

  14% {
    transform: scaleY(0.99);
  }

  22% {
    transform: scaleY(0.88);
  }

  32% {
    transform: scaleY(0.99);
  }

  42% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.5);
  }

  58% {
    transform: scaleY(0.4);
  }

  68% {
    transform: scaleY(0.01);
  }

  78% {
    transform: scaleY(0.12);
  }

  86% {
    transform: scaleY(0.01);
  }

  90% {
    transform: scaleY(0.03);
  }

  96% {
    transform: scaleY(0);
  }

  98% {
    transform: scaleY(0.01);
  }

  100% {
    transform: scaleY(0);
  }
}


html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-dark);
  min-width: 1200px;
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout-center {
  width: 1160px;
  margin: 0 auto;
}

.layout-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.content-container {
  padding-left: 60px;
  margin-bottom: 49px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 9.5px 10px;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  transition: color 0.3s;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: calc(50% - 4px);
  bottom: calc(50% - 4px);
  background-color: var(--special-yellow-dark);
  transition: top 0.3s, bottom 0.3s;
}

.button:hover::before {
  top: 0;
  bottom: 0;
}

.button:focus::before {
  background-color: var(--special-purpe);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
}

.button:active::before {
  background-color: var(--special-yellow-dark);
}

.button--light::before {
  background-color: var(--special-yellow-light);
}

.button--light:active::before {
  background-color: var(--special-yellow-light);
}


/* Header */

.header {
  margin-bottom: 38px;
  margin-top: 40px;
  padding-top: 39px;
  padding-bottom: 38px;
  position: relative;
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
  row-gap: 19px;
  background-color: var(--special-yellow-light);
}

.header--index {
  padding-bottom: 2px;
  margin-bottom: 0;
}

.header__logo-link {
  position: absolute;
  z-index: 1;
  left: 61px;
  top: -23px;
}

.header__logo-img {
  width: 145px;
  height: 36px;
  display: block;
}

/* Header search */
.header__search-form {
  padding-left: 44px;
}

.header__search-group {
  position: relative;
}

.header__search-group::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 12px;
  background-image: url("../img/icons/icon-search.svg");
  background-repeat: no-repeat;
}

.header__search-input {
  display: block;
  width: 100%;
  border: 2px solid transparent;
  padding: 8.5px 0;
  padding-left: 50px;
  padding-right: 160px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
  color: var(--basic-black);
  background-color: transparent;
  outline: none;
}

.header__search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
  transition: opacity 0.3s;
}

.header__search-input:hover::placeholder {
  opacity: 0.6;
}

.header__search-input:focus {
  border-color: var(--special-purpe);
  transition: border-color 0.3s;
}

.header__search-input:focus::placeholder {
  opacity: 0.3;
}

.header__search-submit {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8.5px;
  width: 160px;
  border: 2px solid var(--basic-black);
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--basic-black);
  background-color: transparent;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  transform: scale(0);
  transform-origin: 50% 0;
  transition: all 0.3s;
}

.header__search-submit:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.header__search-submit:focus {
  color: var(--basic-black);
  background-color: transparent;
  border-color: var(--special-purpe);
}

/* With no SCSS rgba(var(--basic-white), 0.3) doesn't work */
.header__search-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-black);
  border-color: transparent;
}


.header__search-input:not(:placeholder-shown) {
  border-color: var(--basic-black);
}

.header__search-input:not(:placeholder-shown) + .header__search-submit {
  transform: scale(1);
  visibility: visible;
}


/* Header nav */
.header__column {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: -10px;
}

.header__nav-list:nth-child(2) {
  justify-content: space-between;
}

.header__nav-item {
  margin-bottom: 10px;
  position: relative;
}

.header__nav-item:not(:last-child) {
  margin-right: 10px;
}

.header__nav-item:hover .popup {
  visibility: visible;
  transform: scaleY(1);
}

.header__nav-link {
  display: block;
  padding: 10px;
  border: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
  background-repeat: no-repeat;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s;
}

.header__nav-link--alpha {
  opacity: 0.3;
}

.header__nav-link--user {
  padding-left: 25px;
  background-image: url("../img/icons/icon-user.svg");
  background-position: 0 13px;
}

.header__nav-link--compare {
  padding-left: 20px;
  background-image: url("../img/icons/icon-compare.svg");
  background-position: 0 13px;
}

.header__nav-link--cart {
  position: relative;
  padding-left: 44px;
  background-image: url("../img/icons/icon-cart.svg");
  background-position: 18px 11px;
}

.header__nav-link:hover {
  opacity: 0.6;
}

.header__nav-link:focus {
  opacity: 1;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  border: 2px solid transparent;
  top: 0;
  bottom: 0;
  left: -21px;
  right: -11px;
}

.header__nav-link:focus::before {
  border: 2px solid var(--special-purpe);
  transition: border-color 0.3s;
}

.header__nav-link:active {
  opacity: 0.3;
  outline: none;
}

.header__nav-link:active::before {
  content: none;
}

.header__count {
  position: absolute;
  top: 9px;
  left: 3px;
  width: 21px;
  height: 21px;
  padding-top: 2px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 17px;
}

/* Main nav */

.main-nav {
  grid-column: 1 /-1;
  padding-left: 60px;
  padding-right: 55px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-right: 30px;
  position: relative;
}

.main-nav__item--margin-right {
  margin-right: 91px;
}

.main-nav__item--expanded {
  margin-right: auto;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 0 14px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  outline: none;
  transition: opacity 0.3s;
}

.main-nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  height: 2px;
  width: 0%;
  background-color: var(--basic-black);
  border-color: transparent;
  border-radius: 25px;
  transition: width 0.3s, border-color 0.3s;
}

.main-nav__link:hover::before {
  width: 98%;
}

.main-nav__link:focus::before {
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  width: auto;
  height: auto;
  border: 2px solid var(--special-purpe);
  background-color: transparent;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link:active::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 8px;
  left: 0;
  right: auto;
  width: 98%;
  height: 2px;
  background-color: var(--basic-black);
  border: 0;
}

.main-nav__link--icon {
  padding-right: 67px;
}

.main-nav__link--icon::before {
  transition: border-color 0.3s;
}

.main-nav__link--icon::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  background-image: url("../img/icons/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.main-nav__link--icon:hover::before {
  background-color: transparent;
}

.main-nav__link--icon:hover::after {
  background-image: url("../img/icons/icon-minus.svg");
  opacity: 1;
}

.main-nav__link--icon:focus::after {
  background-image: url("../img/icons/icon-minus.svg");
  opacity: 1;
}

.main-nav__link--icon:focus::before {
  right: 51px;
}

.main-nav__link--icon:active {
  opacity: 0.3;
}

.main-nav__item:hover > .main-nav__sub-list,
.main-nav__item:focus-within > .main-nav__sub-list {
  transform: scaleY(1);
}

.main-nav__sub-list {
  z-index: 1;
  margin: 0;
  padding: 35px 60px;
  list-style: none;
  position: absolute;
  display: grid;
  gap: 18px 46px;
  grid-template-columns: repeat(auto-fit, minmax(155px, max-content));
  width: 1160px;
  left: -60px;
  background-color: var(--special-yellow-light);

  transform-origin: 0 0;
  transform: scaleY(0);
  transition: transform 0.4s;
}

/* Чисто чтобы было по макету */
.main-nav__sub-item:nth-child(2) {
  grid-row: 2/3;
}

.main-nav__sub-item:nth-child(3) {
  grid-row: 3/ 4;
}

.main-nav__sub-item:nth-child(5) {
  grid-row: 2/ 3;
}

.main-nav__sub-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  outline: none;
  transition: opacity 0.3s;
}

.main-nav__sub-link:hover {
  opacity: 0.6;
}

.main-nav__sub-link:focus {
  opacity: 1;
}

.main-nav__sub-link::before {
  content: "";
  position: absolute;
  border-color: transparent;
  transition: border-color 0.3s;
}

.main-nav__sub-link:focus::before {
  top: -4.5px;
  bottom: -4.5px;
  left: -15px;
  right: -15px;
  border: 2px solid var(--special-purpe);
  border-radius: 25px;
}

.main-nav__sub-link:active {
  opacity: 0.3;
}

.main-nav__sub-link:active::before {
  content: none;
}

/* Slider */

.slider {
  background-image: linear-gradient(180deg, var(--special-yellow-light) 150px, transparent 150px);
  counter-reset: pagination-num;
  margin-bottom: 70px;
}

.slider__slide {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
}

.slider__box {
  position: relative;
}

.slider__img {
  display: block;
  width: 560px;
  height: 560px;
}

.slider__description {
  padding-top: 122px;
  position: relative;
}

.slider__description::before {
  position: absolute;
  content: counter(pagination-num, decimal-leading-zero);
  counter-increment: pagination-num;
  top: 7px;
  right: 49px;
  z-index: -1;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: var(--basic-white);
}

.slider__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.slider__text {
  margin: 0;
  margin-bottom: 36px;
}

.slider__group {
  display: flex;
  justify-content: space-between;
}

.slider__button {
  min-width: 220px;
  max-width: 400px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  margin-bottom: 51px;
}

.slider__stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.slider__stats-item {
  margin-right: 21px;
}

.slider__stats-text {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.slider__stats-title {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}


.slider__pagination {
  position: absolute;
  top: 365px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12px);
  justify-content: start;
  gap: 22px;
  width: 140px;
  z-index: 1;
}

.slider__pagination-button {
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid var(--basic-black);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider__pagination-button:hover {
  opacity: 0.6;
}

.slider__pagination-button:focus-visible {
  opacity: 1;
  border-color: var(--special-purpe);
}

.slider__pagination-button:active {
  opacity: 0.3;
  border-color: var(--basic-black);
}

.slider__pagination-button.is-active:not(:focus-visible) {
  background-color: var(--basic-black);
}

.splide__arrows {
  position: absolute;
  top: 250px;
  width: 560px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.splide__arrow {
  position: absolute;
  padding: 0;
  border: 0;
  width: 20px;
  height: 60px;
  background-image: url("../img/icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s;
}

.splide__arrow--prev {
  transform: rotate(180deg);
  left: 19px;
}

.splide__arrow--next {
  right: 19px;
}

.splide__arrow:hover {
  opacity: 0.6;
}

.splide__arrow::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.splide__arrow:focus::before {
  content: "";
  border: 2px solid var(--special-purpe);
}

.splide__arrow:active {
  opacity: 0.3;
}

.splide__arrow:active::before {
  content: none;
}

.splide__arrow:disabled {
  opacity: 0;
}

/* Categories */

.categories {
  margin-bottom: 80px;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.categories__link {
  display: block;
  text-decoration: none;
  outline: none;
}

.categories__link:hover .categories__box {
  background-color: var(--special-yellow-dark);
}

.categories__link:focus .categories__box {
  background-color: var(--special-yellow-light);
  outline: 5px solid var(--special-purpe);
}

.categories__link:focus .categories__title {
  color: var(--special-purpe);
}

.categories__link:active .categories__box {
  outline-color: transparent;
  background-color: var(--special-yellow-dark);
}

.categories__link:active .categories__title {
  color: var(--basic-black);
  opacity: 0.3;
}

.categories__link:active .categories__img {
  opacity: 0.3;
}


.categories__box {
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: var(--special-yellow-light);
  outline-color: transparent;
  transition: outline-color 0.3s, background-color 0.3s;
}

.categories__img {
  margin: auto;
  max-width: 100%;
  object-fit: contain;
  transition: all 0.3s;
}

.categories__img--monopad {
  margin-bottom: 0;
}

.categories__title {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--basic-black);
  transition: color 0.3s, opacity 1s;
}

/* Services */

.tab {
  background-image: linear-gradient(180deg, transparent 101px, var(--basic-light) 101px);
  padding-top: 62px;
  padding-bottom: 79px;
  margin-bottom: 90px;
}

.tab__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.tab__container::before {
  content: "";
  position: absolute;
  left: 277px;
  top: -61px;
  bottom: -10px;
  width: 7px;
  background-color: var(--basic-black);
}

.tab__buttons {
  margin: 0;
  margin-top: 19px;
  padding: 0;
  list-style: none;
  width: 277px;
}

.tab__buttons-item:not(:last-child) {
  margin-bottom: 25px;
}

.tab__button {
  z-index: 0;
  min-width: 160px;
}

.tab__button--active {
  width: 100%;
  padding: 9.5px 18px;
  text-align: left;
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
}

.tab__button--active::before {
  content: none;
}

.tab__button--active:focus {
  outline: 3px solid var(--special-purpe);
  outline-offset: -3px;
}

.tab__overflow {
  overflow: hidden;
  width: 760px;
  height: 248px;
  transition: height 0.5s;
}

.tab__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  transition: margin-top 0.5s;
}

.tab__item {
  padding-top: 10px;
  padding-right: 260px;
  min-height: 248px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-delivery.svg");
  background-position: top 24px right 66px;
}


.tab__item--warranty {
  background-image: url("../img/icons/icon-warranty.svg");
  background-position: top 1px right 46px;
}

.tab__item--credit {
  background-image: url("../img/icons/icon-credit.svg");
  background-position: top 1px right 70px;
}

.tab__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.tab__text {
  margin: 0;
}


.shipping {
  margin-bottom: 97px;
}

.shipping__button {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  padding: 38px 125px 39px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--basic-light);
  color: var(--basic-black);
  cursor: pointer;
  outline: 5px solid transparent;
  transition: background-color 0.3s, outline-color 0.3s;
}

.shipping__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: var(--special-yellow-light);
  background-image: url("../img/icons/icon-delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}

.shipping__button::after {
  content: "";
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--basic-gray);
  background-image: url("../img/icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  transition: all 0.3s;
}

.shipping__button:hover {
  background-color: var(--basic-light-gray);
}

.shipping__button:hover::before {
  background-color: var(--special-yellow-dark);
  opacity: 1;
}

.shipping__button:hover::after {
  opacity: 1;
}

.shipping__button:focus {
  outline-color: var(--special-purpe);
}

.shipping__button:active {
  background-color: var(--basic-light-gray);
  opacity: 0.3;
}

.shipping__button:active::before {
  background-color: var(--special-yellow-dark);
}

/* Information */

.information {
  position: relative;
  padding-top: 50px;
  padding-bottom: 76px;
  min-height: 649px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.information::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.information__header {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.information__text {
  margin: 0;
  margin-bottom: 30px;
}

.information__list {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  list-style: none;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
}


.information__item {
  position: relative;
  padding-left: 35px;
}

.information__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 1px;
  width: 8px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  border-radius: 50%;
}

.information__item:not(:last-child) {
  margin-bottom: 20px;
}


.information__button {
  min-width: 260px;
}

.information__button:last-child {
  margin-top: auto;
}

.information__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.information__address {
  font-style: normal;
  word-spacing: 1px;
  margin-bottom: 30px;
}

.information__address-text {
  margin: 0;
}

.information__address-link {
  display: inline-block;
  color: inherit;
  transform: scale(1);
  transition: all 0.3s;
  transform-origin: 0 50%;
  outline: none;
}

.information__address-link:hover {
  color: var(--special-yellow-dark);
}

.information__address-link:focus {
  color: var(--special-purpe);
  transform: scale(1.1);
}

.information__address-link:active {
  opacity: 0.5;
}

/* Newsletter */
.newsletter {
  min-height: 421px;
  background-color: var(--basic-light);
}

.newsletter__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
  align-items: center;
}

.newsletter__title {
  margin: 0;
  margin-top: 76px;
  width: 560px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.newsletter__text {
  margin: 0;
  margin-top: 86px;
  width: 560px;
}

.newsletter__form {
  display: flex;
  align-items: flex-start;
}

.newsletter__input {
  display: block;
  padding-top: 13px;
  padding-bottom: 9px;
  padding-right: 40px;
  padding-left: 0;
  width: 600px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  outline: none;
  transition: all 0.3s;
}

.newsletter__input::placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
  transition: all 0.3s;
}

.newsletter__input:hover::placeholder {
  opacity: 0.7;
}

.newsletter__input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.newsletter__input:focus {
  background-color: var(--basic-gray);
}

.newsletter__input:not(:placeholder-shown) {
  border-bottom: 3px solid var(--basic-black);
  background-color: transparent;
}

.newsletter__input.newsletter__input--error {
  border-bottom: 3px solid var(--status-error);
}

.newsletter__submit {
  padding: 14px 15px;
  width: 260px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: inherit;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.newsletter__submit:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.newsletter__submit:focus {
  border-color: var(--special-purpe);
}

.newsletter__submit:active {
  background-color: var(--basic-black);
  color: rgba(255, 255, 255, 0.3);
}

.newsletter__free {
  margin: 0;
  padding-left: 36px;
  background-image: url("../img/icons/icon-success.svg");
  background-repeat: no-repeat;
  background-position: top 8px left 0;
}

/* Footer */
.footer {
  background-color: var(--basic-dark);
  padding-top: 62px;
  padding-bottom: 61px;
  color: var(--basic-white);
}

.footer__container {
  display: flex;
}

.footer__left {
  position: relative;
  width: 340px;
  margin-right: 23px;
  padding-bottom: 30px;
}

.footer__left::after {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.footer__logo {
  display: block;
  margin-bottom: 35px;
}

.footer__address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer__center {
  width: 434px;
  padding-top: 75px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.footer__nav-list {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav-link {
  position: relative;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: inherit;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}

.footer__nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -8px;
  left: 0;
  width: 0;
  background-color: var(--special-yellow-dark);
  transition: all 0.3s;
}

.footer__nav-link:hover {
  color: var(--special-yellow-dark);
}

.footer__nav-link:hover::after {
  width: 98%;
}

.footer__nav-link:focus::before {
  content: "";
  position: absolute;
  top: -14px;
  bottom: -15px;
  left: -20px;
  right: -20px;
  border: 2px solid var(--special-purpe);
  border-radius: 25px;
}

.footer__nav-link:active {
  color: var(--special-yellow-dark);
  opacity: 0.3;
}

.footer__nav-link:active::after {
  width: 98%;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  justify-content: center;
  gap: 15px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  fill: var(--basic-dark);
}


.social__link:hover {
  background-color: var(--special-yellow-dark);
}

.social__link:focus {
  background-color: transparent;
  outline: 5px solid var(--special-purpe);
  fill: var(--basic-white);
}

.social__link:active {
  background-color: var(--special-yellow-dark);
  fill: rgba(68, 68, 68, 0.3);
}


.footer__right {
  width: 220px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__tel {
  margin-bottom: 61px;
}

.footer__tel-link {
  position: relative;
  display: block;
  font-style: normal;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.footer__tel-link:hover {
  color: var(--special-yellow-dark);
}

.footer__tel-link:focus::before {
  content: "";
  position: absolute;
  border-radius: 25px;
  top: -1px;
  bottom: -3px;
  left: -13px;
  right: -13px;
  border: 2px solid var(--special-purpe);
}

.footer__tel-link:active {
  opacity: 0.3;
}

.footer__author {
  display: block;
  width: 115px;
  height: 33px;
  fill: var(--special-yellow-dark);
}

.footer__author:hover {
  fill: var(--basic-white);
}

.footer__author:focus {
  outline: 2px solid var(--special-purpe);
  border-radius: 3px;
  outline-offset: 8px;
  fill: var(--special-yellow-dark);
}

.footer__author:active {
  fill: var(--basic-white);
  opacity: 0.3;
}

/* Breadcrumbs */

.content-header {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 35px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 7px;
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/icon-nav-arrow.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.breadcrumbs__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.breadcrumbs__link:hover {
  color: var(--basic-black);
}

.breadcrumbs__link:focus::before {
  content: "";
  position: absolute;
  border: 5px solid var(--special-purpe);
  top: -10px;
  bottom: -11px;
  left: -18px;
  right: -17px;
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:active::before {
  content: none;
}

/* Catalog */

.catalog {
  display: grid;
  grid-template-columns: 269px 760px;
  column-gap: 72px;
  justify-content: end;
}

.catalog__filter {
  position: relative;
  background-color: var(--basic-light-gray);
}

.catalog__filter::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -32767px;
  right: 0;
  bottom: 0;
  background-color: var(--basic-light-gray);
}

.catalog__sort {
  display: flex;
  align-items: center;
}

.catalog__goods {
  padding-top: 69px;
  padding-bottom: 77px;
}

.catalog__load-more {
  width: 100%;
  padding: 15px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 51px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  cursor: pointer;
}

.catalog__load-more:hover {
  border-color: var(--basic-black);
}

.catalog__load-more:focus {
  outline: 5px solid var(--special-purpe);
  outline-offset: -5px;
}

.catalog__bg {
  position: relative;
  background-color: var(--basic-gray);
}

.catalog__load-more:active {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}


.catalog__bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: -32767px;
  background-color: var(--basic-gray);
}

.catalog__bg--order {
  background-color: var(--basic-light-gray);
}

.catalog__bg--order::before {
  z-index: -2;
  right: -32767px;
  background-color: var(--basic-light-gray);
}

.catalog__title {
  margin: 0;
  padding: 25px 0;
  padding-left: 1px;
  min-height: 70px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog__title--order {
  margin-right: 32px;
}

.catalog__form {
  padding: 71px 0;
}

.catalog__fieldset {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  border: 0;
}

.catalog__fieldset--mbottom {
  margin-bottom: 44px;
}

.catalog__legend {
  position: relative;
  margin-bottom: 29px;
  padding-top: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.catalog__legend::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
}

.catalog__control {
  margin-left: 1px;
}

.catalog__control:not(:last-child) {
  margin-bottom: 20px;
}

.catalog__submit {
  margin-top: 6px;
  min-width: 200px;
  z-index: 1;
}

.catalog__order {
  margin-left: auto;
}
/* Range slider */

.range-slider {
  padding-bottom: 25px;
}

.range-slider__range {
  position: relative;
  padding: 8px 0;
  width: 200px;
  height: 18px;
  background-color: var(--basic-gray);
  background-clip: content-box;
}

.range-slider__indicator {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 2px;
  background-color: var(--basic-black);
}

.range-slider__toggler {
  top: -50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid var(--basic-black);
  background-color: var(--basic-light-gray);
  border-radius: 50%;
  cursor: pointer;
}

.range-slider__toggler:hover,
.range-slider__toggler:focus {
  border-color: var(--special-purpe);
}

.range-slider__toggler:hover + .range-slider__label,
.range-slider__toggler:focus + .range-slider__label {
  color: var(--special-purpe);
}

.range-slider__toggler:active {
  background-color: var(--basic-black);
  border-color: var(--basic-black);
}

.range-slider__toggler:active + .range-slider__label {
  color: var(--basic-black);
  opacity: 1;
}

.range-slider__toggler + .range-slider__label {
  top: 17px;
}

.range-slider__toggler--min + .range-slider__label {
  left: -5px;
}

.range-slider__toggler--max + .range-slider__label {
  left: 91px;
}

.range-slider__label {
  display: flex;
  position: absolute;
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  max-height: 30px;
  overflow: hidden;
}

.range-slider__input {
  padding: 0;
  border: 0;
  width: 70px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  appearance: none;
  background-color: transparent;
  outline: none;
}

/* Control */

.control {
  display: flex;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 19px;
}

.control__mark {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--basic-black);
  border-radius: 3px;
  margin-right: 17px;
  cursor: pointer;
}

/* Checkbox */
.control__input:not(:checked) + .control__mark {
  opacity: 0.2;
}

.control__input:not(:checked) + .control__mark svg {
  display: none;
}

/* Radio */
.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--basic-black);
}

/* Hover */
.control:hover .control__input + .control__mark {
  opacity: 0.5;
}

.control:hover .control__input ~ .control__label {
  opacity: 0.5;
}

/* Focus */
.control__input:focus + .control__mark {
  border-color: var(--special-purpe);
  fill: var(--special-purpe);
  opacity: 1;
}

.control__input:focus ~ .control__label {
  color: var(--special-purpe);
}

.control__input[type="radio"]:focus + .control__mark::before {
  background-color: var(--special-purpe);
}
/* Active */
.control__input:active + .control__mark {
  opacity: 0.2;
}

.control__input:active ~ .control__label {
  opacity: 0.2;
}

/* Control select */
.control-select {
  width: 227px;
  border: 5px solid transparent;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 30px;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
  outline: none;
  appearance: none;
  background-image: url("../img/icons/icon-dropdown.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.control-select:hover {
  opacity: 0.6;
}

.control-select:focus {
  border-color: var(--special-purpe);
}

.control-select:active {
  opacity: 0.3;
}

.order {
  display: flex;
}

.order__button {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
  width: 11px;
  height: 10px;
  background-color: transparent;
  fill: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

.order__button + .order__button {
  margin-left: 19px;
}

.order__button--descendant {
  transform: rotate(180deg);
}

.order__button:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.order__button:focus {
  outline: 5px solid var(--special-purpe);
  outline-offset: 10px;
}

.order__button--active,
.order-button:active {
  fill: var(--basic-black);
}

/* Cards */
.cards {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 46px 40px;
}

.cards__item {
  position: relative;
}

.cards__link {
  display: block;
  text-decoration: none;
  outline: none;
}

.cards__link--new {
  position: relative;
}

.cards__link--new::before {
  content: "new";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  opacity: 0.6;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Hover */
.cards__item:hover .cards__button-wrapper {
  display: flex;
}
/* Focus */
.cards__link:focus .cards__img {
  outline: 5px solid var(--special-purpe);
  outline-offset: -5px;
}

.cards__link:focus .cards__title,
.cards__link:focus .cards__price {
  color: var(--special-purpe);
}

.cards__img {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.cards__group {
  display: flex;
  justify-content: space-between;
}

.cards__title {
  width: 270px;
  margin: 0;
  font-size: inherit;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.cards__price {
  color: var(--basic-dark);
  line-height: 24px;
  width: 80px;
  text-align: right;
  word-break: break-word;
}

.cards__button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.cards__button {
  margin-top: 1px;
  min-width: 180px;
  z-index: 1;
}

/* Paginator */

.paginator {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: var(--basic-light-gray);
}

.paginator__item:first-child {
  margin-right: auto;
}

.paginator__item:last-child {
  margin-left: auto;
}

.paginator__link {
  display: block;
  padding: 8px 16px 11px 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
}

.paginator__link:hover {
  color: var(--basic-black);
}

.paginator__link:focus {
  outline: 5px solid var(--special-purpe);
  outline-offset: -5px;
}

.paginatr__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.paginator__link--active {
  color: var(--special-purpe);
}

.paginator__link--edge {
  padding: 25.5px 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.paginator__link--edge:hover {
  background-color: var(--basic-gray);
}

.paginator__link--edge:focus {
  background-color: var(--basic-light);
}

.paginator__link--edge:active {
  background-color: var(--basic-gray);
  color: rgba(0, 0, 0, 0.3);
}

/* Popup */
.popup {
  position: absolute;
  z-index: 2;
  left: -131px;
  top: 110%;
  visibility: hidden;
  width: 320px;
  padding-top: 0;
  background-color: var(--basic-black);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: all 0.4s;
}

.popup::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 150px;
  width: 14px;
  height: 6px;
  background-image: url("../img/icons/icon-popup.svg");
}

.popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup__item {
  position: relative;
  padding: 20px;
  padding-right: 40px;
}

.popup__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popup__link {
  text-decoration: none;
  display: flex;
  color: var(--basic-white);
  outline: none;
}

.popup__link:hover {
  opacity: 0.6;
}

.popup__link:focus {
  color: var(--special-purpe);
}

.popup__link:focus .popup__img {
  outline: 5px solid var(--special-purpe);
}

.popup__link:active {
  opacity: 0.3;
  color: var(--basic-white);
}

.popup__link:active .popup__img {
  outline: none;
}

.popup__img {
  width: 41px;
  height: 43px;
  margin-right: 23px;
}

.popup__title {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.popup__delete {
  position: absolute;
  top: 27px;
  right: 20px;
  width: 11px;
  height: 11px;
  padding: 0;
  border: 0;
  background-color: transparent;
  justify-self: end;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.popup__delete:hover {
  opacity: 0.6;
}

.popup__delete:focus {
  outline: 2px solid var(--special-purpe);
  outline-offset: 5px;
  border-radius: 50%;
}

.popup__delete:active {
  opacity: 0.3;
}

.popup__row {
  background-color: #1a1a1a;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

.popup__group {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.popup__button {
  margin: 20px;
  margin-bottom: 21px;
  display: block;
  padding: 14.5px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.popup__button:hover {
  background-color: var(--special-yellow-light);
}

.popup__button:focus {
  outline: 5px solid var(--special-purpe);
  outline-offset: 0;
}

.popup__button:active {
  outline: none;
  background-color: var(--special-yellow-light);
  color: rgba(0, 0, 0, 0.3);
}

/* Modal */
.modal {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal--open {
  display: flex;
}

.modal__box {
  position: relative;
  margin-top: 150px;
  width: 920px;
  padding: 63px 70px 67px;
  background-color: var(--basic-white);
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal__title {
  margin: 0;
  margin-bottom: 67px;
  padding-right: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  column-gap: 40px;
  row-gap: 14px;
}

.modal__column {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.modal__column--span2 {
  grid-column: span 2;
}

.modal__column--span3 {
  grid-column: span 3;
}

.modal__label {
  margin-bottom: 14px;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.modal__label--tooltip {
  margin-bottom: 10px;
}

.modal__input {
  margin-bottom: 6px;
  padding: 17px;
  border: 3px solid transparent;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--basic-light);
  color: var(--basic-black);
  background-repeat: no-repeat;
  background-position: top 21px right 18px;
  outline: none;
}

.modal__input:hover {
  background-color: var(--basic-light-gray);
}

.modal__input:focus {
  outline: 5px solid #af4fff;
  outline-offset: 0;
}

.modal__input:not(:placeholder-shown) {
  border-color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
}

.modal__input.modal__input--error {
  border-color: var(--status-error);
  outline: none;
}

.modal__input--error + .modal__message {
  color: var(--status-error);
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal__input--user {
  padding-right: 47px;
  background-image: url("../img/icons/icon-user.svg");
}

.modal__input--email {
  padding-right: 47px;
  background-image: url("../img/icons/icon-email.svg");
}

.modal__message {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
}

.modal__submit {
  z-index: 1;
  grid-column: 1/-1;
  justify-self: start;
  min-width: 200px;
  margin-top: 25px;
}


.modal__close {
  position: absolute;
  top: 65px;
  right: 58px;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  width: 32px;
  height: 4px;
  background-color: var(--basic-black);
}

.modal__close::after {
  transform: translate(-50%) rotate(-45deg);
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__close:focus {
  outline: 5px solid var(--special-purpe);
  outline-offset: 0;
}

.modal__close:active {
  opacity: 0.3;
  outline: none;
}

/* Number range */
.number-range {
  position: relative;
  width: 160px;
  background-color: var(--basic-light);
}

.number-range__input {
  display: block;
  width: 100%;
  padding: 20px 43px;
  border: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  color: var(--basic-black);
  appearance: none;
}

.number-range__input::-webkit-inner-spin-button,
.number-range__input::-webkit-outer-spin-button {
  appearance: none;
}

.number-range__input:hover {
  background-color: var(--basic-light-gray);
}

.number-range__input:focus {
  outline: 5px solid var(--special-purpe);
  outline-offset: 0;
}

.number-range__input:active,
.number-range__input:not(:placeholder-shown) {
  outline: 3px solid var(--basic-black);
  outline-offset: -3px;
}

.number-range__input--error,
.number-range__input:invalid {
  outline: 3px solid var(--status-error);
  outline-offset: -3px;
}

.number-range__button {
  position: absolute;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  top: 14px;
  left: 11px;
}

.number-range__button--increment {
  left: auto;
  right: 11px;
}

.number-range__button::before,
.number-range__button--increment::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-1px);
  background-color: var(--basic-black);
  opacity: 0.3;
}

.number-range__button--increment::after {
  transform: translateX(-50%) translateY(-1px) rotate(90deg);
}

/* Hover */
.number-range__button:hover::before,
.number-range__button:hover::after {
  opacity: 1;
}
/* Focus */
.number-range__button:focus {
  outline: 2px solid var(--special-purpe);
  outline-offset: -2px;
}

/* Active */
.number-range__button:active {
  outline: none;
}

.number-range__button:active::before,
.number-range__button:active::after {
  opacity: 0.1;
}

/* Tooltip */
.tooltip {
  position: relative;
  margin-left: 10px;
  margin-top: -2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--special-yellow-light);
  background-image: url("../img/icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: help;
}

.tooltip:hover .tooltip__message {
  visibility: visible;
  transform: scaleY(1);
  transition: all 0.4s;
}

.tooltip__message {
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  padding: 19px;
  background-color: var(--basic-black);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: 50% 0;
}

.tooltip__message::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 6px;
  background-image: url("../img/icons/icon-popup.svg");
}

